* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.app__dark {
  background-color: #000;
  color: #fff;
}

.app__light {
  background-color: #fff;
  color: #000;
}
